:root {
    --softred: hsl(5, 85%, 63%);
    --softorange: hsl(35, 77%, 62%);
    --Offwhite: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
}

body {
    background-color: var(--Offwhite);
    max-width: 1240px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4.4rem;
    font-weight: 800;
    color: var(--Verydarkblue);
    line-height: 4.1rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--softorange);
    margin-bottom: 30px;
}

h3 {
    color: var(--Grayishblue);
    font-size: 3rem;
}

p {
    color: var(--Darkgrayishblue);
    line-height: 1.8rem;
}

.button-orange {
    text-transform: uppercase;
    color: white;
    background-color: var(--softred);
    padding: 20px 40px;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 6px;
}

.button-orange:hover {
    background-color: var(--Verydarkblue);
    color: white;
}

/* Header */
header {
    margin: 80px 0 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 65px;
}

.icon {
    display: none;
}

a {
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--Darkgrayishblue);
}

a:hover {
    color: var(--softred);
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 20px 20px;
}

.jumbo {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
}

.jumbo img {
    width: 100%;
}

picture {
    grid-area: 1 / 3 / 1 / 1;
}

.news-items {
    grid-area: 1 / 3 / 3 / 3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main-news {
    grid-area: 2 / 3 / 2 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* News-items */
.news-items {
    background-color: var(--Verydarkblue);
    color: white;
}

.news-content {
    display: flex;
    flex-direction: column;
}

.news-content:nth-child(1) {
    border-bottom: 1px solid white;
    height: calc(40%);

}

.news-content:nth-child(2) {
    justify-content: center;
    border-bottom: 1px solid white;
    height: calc(35%);
}

.news-content:nth-child(3) {
    justify-content: end;
    height: calc(25%);
}

.news-content p {
    color: var(--Grayishblue)
}

h3.title-news  {
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}

h3.title-news:hover {
    color: var(--softorange);
}


hr {
    margin: 20px 0;
}

/* Top-news */
.top-news {
    margin: 80px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    align-items: center;
}

.card img {
    width: 120px;
}

.card-content {
    margin: 0 30px;
}

p.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Verydarkblue);
}

p.title:hover {
    color: var(--softred);
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    body {
        margin: 20px;
    }

    .icon {
        display: block;
    }

    h1 {
        font-size: 3.2rem;
    }

    .jumbo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }

    picture {
        grid-area: 1 / 1;
    }

    .news-items {
        grid-area: 3;
        height: 500px;
    }

    .main-news {
        grid-area: 2;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .main-news p {
        padding: 20px 0;
    }

    .top-news {
        grid-template-columns: 1fr;
    }

    #mylinks {
        display: none;
    }

    header a.icon {
        display: block;
        position: absolute;
        right: 35px;
        top: 35px;
        width: 50px;
        height: 50px;
    }

    ul {
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        background-color: white;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    header {
        margin: 40px 0;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }